In [6]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [7]:
mongo = MongoClient('mongodb+srv://doadmin:12VQ3UrM70T695BL@medina-mongo-prod-4d15c7ee.mongo.ondigitalocean.com/admin?tls=true&authSource=admin')
db = mongo['PSTAGE']
collection = db['financial_report']

In [8]:
df = pd.DataFrame(list(collection.find()))
df

,_id,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,6604db8aec0eccbba86526d3,000930,2023-09-01,3,Y,Q,09,NTD,2023-11-08,2.96,...,486556.0,NaN,93292.0,485949.0,485918.0,45219.0,21516.0,-1503432.0,-11518.0,1487687.0
1,6604db8aec0eccbba86526d4,000930,2023-06-01,2,Y,Q,06,NTD,2023-08-24,2.88,...,416753.0,NaN,62722.0,468606.0,468556.0,44147.0,20854.0,-2261335.0,-99593.0,2417283.0
2,6604db8aec0eccbba86526d5,000930,2023-12-01,4,Y,Q,12,NTD,2024-03-11,2.04,...,318776.0,NaN,74438.0,331687.0,331659.0,47824.0,22265.0,-728861.0,-49821.0,651527.0
3,6604db8aec0eccbba86526d6,000960,2023-09-01,3,Y,Q,09,NTD,2023-11-10,5.04,...,1332119.0,NaN,262029.0,2049953.0,2049912.0,112968.0,48656.0,12487278.0,-1600.0,-3178118.0
4,6604db8aec0eccbba86526d7,000960,2023-06-01,2,Y,Q,06,NTD,2023-08-30,4.44,...,1059947.0,NaN,103262.0,1905014.0,1810791.0,161089.0,62184.0,-9679364.0,-14242387.0,18789172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6016,6606055260b8c294fc28b554,8071,2023-12-01,4,Y,Q,12,NTD,2024-03-15,-1.04,...,5869.0,-10962.0,7502.0,-12595.0,-13355.0,23027.0,1683.0,138964.0,-5998.0,-21713.0
6017,6606055260b8c294fc28b555,8104,2023-12-01,4,Y,Q,12,NTD,2024-03-06,-2.04,...,-29810.0,2819.0,9416.0,-36407.0,-37211.0,38692.0,510.0,137850.0,-54652.0,-370083.0
6018,6606055260b8c294fc28b556,8291,2023-12-01,4,N,Q,12,NTD,2024-03-28,-1.44,...,-15179.0,-1981.0,0.0,-17160.0,-17160.0,3502.0,0.0,-4893.0,-35.0,-3930.0
6019,6606055260b8c294fc28b557,8477,2023-12-01,4,Y,Q,12,NTD,2024-03-28,-5.64,...,-51288.0,2606.0,-344.0,-48338.0,-45755.0,2972.0,1949.0,-19415.0,-5831.0,-4871.0
6020,6606055260b8c294fc28b558,9938,2023-12-01,4,Y,Q,12,NTD,2024-03-14,1.60,...,245177.0,-157241.0,64842.0,23094.0,118952.0,275159.0,7952.0,636518.0,-224670.0,-897228.0

In [9]:
org_fr_df = pd.read_table("/Volumes/Database/Original_data/IFRS合併一般產業單季/財報.txt", encoding='Big5-HKSCS', low_memory=False)
org_fr_df

,公司,簡稱,年/月,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,現金及約當現金,透過損益按公允價值衡量之金融資產－流動,...,財報發布日,財報類別（1個別2個體3合併）,財報年月起日,財報年月迄日,市場別,交易所主產業代碼,交易所子產業代碼,TEJ主產業代碼,TEJ子產業代碼,財報附註TEJ是否完成Y/N
0,1101,台泥,200506,2,Y,H,6,NTD,10711519,3956662,...,2006/08/31,3,2005/01,2005/06,TSE,M1100,M1100,11A,11A,Y
1,1101,台泥,200512,4,Y,H,12,NTD,10873922,3090216,...,2007/04/24,3,2005/01,2005/12,TSE,M1100,M1100,11A,11A,Y
2,1101,台泥,200606,2,Y,H,6,NTD,15066623,4085170,...,2006/08/31,3,2006/01,2006/06,TSE,M1100,M1100,11A,11A,Y
3,1101,台泥,200612,4,Y,H,12,NTD,8115728,3212981,...,2007/04/24,3,2006/01,2006/12,TSE,M1100,M1100,11A,11A,Y
4,1101,台泥,200706,2,Y,H,6,NTD,11922113,5433838,...,2007/08/29,3,2007/01,2007/06,TSE,M1100,M1100,11A,11A,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106048,8934,衡平,201909,3,Y,Q,9,NTD,699042,43500,...,2019/11/13,3,2019/01,2019/09,OTC,M9900,M9900,25F,25F,Y
106049,8934,衡平,201912,4,Y,Q,12,NTD,776873,43050,...,2020/03/31,3,2019/01,2019/12,OTC,M9900,M9900,25F,25F,Y
106050,8934,衡平,202003,1,Y,Q,3,NTD,707085,0,...,2020/05/15,3,2020/01,2020/03,OTC,M9900,M9900,25F,25F,Y
106051,8934,衡平,202006,2,Y,Q,6,NTD,48116,1500,...,2020/08/14,3,2020/01,2020/06,OTC,M9900,M9900,25F,25F,Y
106052,8934,衡平,202009,3,Y,Q,9,NTD,374009,1500,...,2020/11/13,3,2020/01,2020/09,OTC,M9900,M9900,25F,25F,Y

In [10]:
form_new =  df[['CFO/負債','CFO/合併總損益']]
old_fr_data1 = org_fr_df [['公司',
                    '年/月', 
                    '季別', 
                    '合併(Y/N)',
                    '單季(Q)/單半年(H)',
                    '月份',
                    '幣別',
                    '財報發布日',
                    '每股盈餘',
                    'ROA(C)稅前息前折舊前',
                    'ROE(A)－稅後',
                    '營業毛利率',
                    '營業利益率',
                    '稅後淨利率']]

old_fr_data2 = org_fr_df [[
                    '現金流量比率',
                    '每股淨值(F)－TSE公告數',
                    '營收成長率',
                    '營業毛利成長率',
                    '營業利益成長率',
                    '流動比率',
                    '速動比率',
                    '負債比率',
                    '長期資金適合率(A)',
                    '應收帳款週轉次數',
                    '總資產週轉次數',
                    '存貨週轉率（次）',
                    '  應收帳款及票據',
                    '  存貨',
                    '流動資產',
                    '  採權益法之長期股權投資',
                    '  不動產廠房及設備',
                    '  商譽及無形資產合計',
                    '非流動資產',
                    '資產總額',
                    '  短期借款',
                    '  應付商業本票／承兌匯票',
                    '  一年內到期長期負債',
                    '流動負債',
                    '  應付公司債－非流動',
                    '  銀行借款－非流動',
                    '  其他長期借款－非流動',
                    '非流動負債',
                    '負債總額',
                    '  股本',
                    '  保留盈餘',
                    '股東權益總額',
                    '負債及股東權益總額',
                    '營業收入淨額',
                    '營業成本',
                    '營業毛利',
                    '營業費用',
                    '營業利益',
                    '營業外收入及支出',
                    '所得稅費用',
                    '合併總損益',
                    '歸屬母公司淨利（損）',
                    '  折舊－CFO',
                    '  攤提－CFO',
                    '來自營運之現金流量',
                    '投資活動之現金流量',
                    '籌資活動之現金流量']
]

In [11]:
data = pd.concat([form_new, old_fr_data2], axis = 1)
data = pd.concat([old_fr_data1, data], axis = 1)
data.columns = df.columns[1:] 
data

,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,ROA(C) 稅前息前折舊前,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,1101,200506,2,Y,H,6,NTD,2006/08/31,1.25,6.41,...,5810928,-16417,1083076,4638507,3594740,2729744,273092,9064961,6153593,-8476318
1,1101,200512,4,Y,H,12,NTD,2007/04/24,0.72,4.83,...,4520391,-1211394,617258,2691739,2108627,2695905,257655,6047289,-3617719,-2751710
2,1101,200606,2,Y,H,6,NTD,2006/08/31,0.81,4.69,...,3499730,45494,519720,3041763,2502949,2633510,182408,3550420,-265074,878405
3,1101,200612,4,Y,H,12,NTD,2007/04/24,1.42,6.12,...,6533107,-784684,173370,5597831,4374694,2641567,139461,8835014,-1438336,-13982533
4,1101,200706,2,Y,H,6,NTD,2007/08/29,1.17,5.91,...,6464317,-527750,827518,5109049,3787943,2627829,190461,6186361,-3222109,1218858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106048,8934,201909,3,Y,Q,9,NTD,2019/11/13,-0.02,0.23,...,-7798,4466,374,-3706,-137,5854,-41,-23620,-1166,-5212
106049,8934,201912,4,Y,Q,12,NTD,2020/03/31,-0.31,1.18,...,-2693,-12691,5079,-20463,-2617,6200,200,60761,22922,1942
106050,8934,202003,1,Y,Q,3,NTD,2020/05/15,-1.48,-0.23,...,-16552,3963,-73,-12516,-12620,8787,379,-61344,-378,-5140
106051,8934,202006,2,Y,Q,6,NTD,2020/08/14,0.19,0.37,...,-4967,743,-12,-3984,1657,7993,379,26027,-2347,-4259
106052,8934,202009,3,Y,Q,9,NTD,2020/11/13,-8.53,-0.47,...,-12488,-28756,29439,-76498,-72614,10116,-758,-424,-359446,2546

In [12]:
import pandas as pd

for column in df.columns[1:]:  # Skipping the first column based on your example
    target_dtype = df[column].dtype  # Get the target data type from df
    
    if target_dtype == 'datetime64[ns]':
        if column == '財報發布日':
        # Option 2: Cleaning data by stripping spaces before conversion
            # data['財報發布日'] = data['財報發布日'].str.strip()
            data['財報發布日'] = pd.to_datetime(data['財報發布日'], format='%Y/%m/%d', errors='coerce')
        if column == '財務資料日':
        # Option 2: Cleaning data by stripping spaces before conversion
            # data['財務資料日'] = data['財務資料日'].str.strip()
            data['財務資料日'] = pd.to_datetime(data['財務資料日'], format='%Y%m', errors='coerce')

    elif target_dtype == object:  # Target type is object, which we treat as string here
        # First, attempt to convert to numeric to handle any strings that are actually numbers
        temp_series = pd.to_numeric(data[column], errors='coerce')
        
        # If the series after conversion doesn't become all NaN (meaning it had numeric values)
        if not temp_series.isna().all():
            # We fill NaNs after conversion to avoid issues in converting NaNs to int
            data[column] = temp_series.fillna(0).astype(int).astype(str)
        else:
            # If conversion to numeric fails (resulting in all NaNs), keep as string
            data[column] = data[column].astype(str)
    else:
        # Directly convert to numeric types for everything else, coercing errors
        data[column] = pd.to_numeric(data[column], errors='coerce')
data

,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,ROA(C) 稅前息前折舊前,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,1101,2005-06-01,2,Y,H,6,NTD,NaT,1.25,6.41,...,5810928.0,-16417.0,1083076.0,4638507,3594740,2729744.0,273092.0,9064961.0,6153593.0,-8476318.0
1,1101,2005-12-01,4,Y,H,12,NTD,NaT,0.72,4.83,...,4520391.0,-1211394.0,617258.0,2691739,2108627,2695905.0,257655.0,6047289.0,-3617719.0,-2751710.0
2,1101,2006-06-01,2,Y,H,6,NTD,NaT,0.81,4.69,...,3499730.0,45494.0,519720.0,3041763,2502949,2633510.0,182408.0,3550420.0,-265074.0,878405.0
3,1101,2006-12-01,4,Y,H,12,NTD,NaT,1.42,6.12,...,6533107.0,-784684.0,173370.0,5597831,4374694,2641567.0,139461.0,8835014.0,-1438336.0,-13982533.0
4,1101,2007-06-01,2,Y,H,6,NTD,NaT,1.17,5.91,...,6464317.0,-527750.0,827518.0,5109049,3787943,2627829.0,190461.0,6186361.0,-3222109.0,1218858.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106048,8934,2019-09-01,3,Y,Q,9,NTD,NaT,-0.02,0.23,...,-7798.0,4466.0,374.0,-3706,-137,5854.0,-41.0,-23620.0,-1166.0,-5212.0
106049,8934,2019-12-01,4,Y,Q,12,NTD,NaT,-0.31,1.18,...,-2693.0,-12691.0,5079.0,-20463,-2617,6200.0,200.0,60761.0,22922.0,1942.0
106050,8934,2020-03-01,1,Y,Q,3,NTD,NaT,-1.48,-0.23,...,-16552.0,3963.0,-73.0,-12516,-12620,8787.0,379.0,-61344.0,-378.0,-5140.0
106051,8934,2020-06-01,2,Y,Q,6,NTD,NaT,0.19,0.37,...,-4967.0,743.0,-12.0,-3984,1657,7993.0,379.0,26027.0,-2347.0,-4259.0
106052,8934,2020-09-01,3,Y,Q,9,NTD,NaT,-8.53,-0.47,...,-12488.0,-28756.0,29439.0,-76498,-72614,10116.0,-758.0,-424.0,-359446.0,2546.0

In [48]:
data.to_pickle('/Users/tedting/Documents/FactorTradingSystem/preprocessofTEJ/old_financial_report.pkl')

In [5]:
pd.read_pickle('/Users/tedting/Documents/old_financial_report.pkl')

,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,ROA(C) 稅前息前折舊前,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,1101,200506.0,2,Y,H,6,NTD,2006-08-31,1.25,6.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1101,200512.0,4,Y,H,12,NTD,2007-04-24,0.72,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1101,200606.0,2,Y,H,6,NTD,2006-08-31,0.81,4.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1101,200612.0,4,Y,H,12,NTD,2007-04-24,1.42,6.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1101,200706.0,2,Y,H,6,NTD,2007-08-29,1.17,5.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106048,0,NaN,0,nan,nan,0,nan,NaT,NaN,NaN,...,-7798.0,4466.0,374.0,-3706.0,-137.0,5854.0,-41.0,-23620.0,-1166.0,-5212.0
106049,0,NaN,0,nan,nan,0,nan,NaT,NaN,NaN,...,-2693.0,-12691.0,5079.0,-20463.0,-2617.0,6200.0,200.0,60761.0,22922.0,1942.0
106050,0,NaN,0,nan,nan,0,nan,NaT,NaN,NaN,...,-16552.0,3963.0,-73.0,-12516.0,-12620.0,8787.0,379.0,-61344.0,-378.0,-5140.0
106051,0,NaN,0,nan,nan,0,nan,NaT,NaN,NaN,...,-4967.0,743.0,-12.0,-3984.0,1657.0,7993.0,379.0,26027.0,-2347.0,-4259.0
106052,0,NaN,0,nan,nan,0,nan,NaT,NaN,NaN,...,-12488.0,-28756.0,29439.0,-76498.0,-72614.0,10116.0,-758.0,-424.0,-359446.0,2546.0